services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: rastreo_gps_frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - /app/node_modules
    environment:
      VITE_API_URL: "http://localhost:3000/api"
      VITE_WS_URL: "ws://localhost:3001"
    command: npm run dev
